<div class="bg-gray-950">
  <div *ngIf="hero" class="bg-gray-900 text-white p-6 rounded-lg mt-5 text-center">
    <button mat-raised-button class="bg-red-500 text-white p-2 rounded mb-4 hover:bg-red-600 float-left ml-4" type="button" (click)="goBack()">
      Return
    </button>
    <h2 class="text-3xl mb-2 uppercase mr-16">{{ hero.name }}</h2>
    <div class="text-gray-400 mr-16">ID: {{ hero.id }}</div>
    <div class="max-w-md mx-auto">
      <img class="h-96 w-96 rounded-lg mb-4 mx-auto" [src]="hero.thumbnail.path + '.' + hero.thumbnail.extension" alt="{{ hero.name }}" />
      <p class="text-lg bg-gray-800 rounded-lg shadow-md p-6">{{ hero.description }}</p>
    </div>
  </div>
</div>
